@charset "UTF-8";
/* 웹폰트파일을 임포트 하는 css */
/* 서체파일의 임포트 순서는 .eot(ie9이하), .woff, .ttf, svg */

@font-face {
    font-family: 'dream';
    src: url('./SCDream5.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'dream';
    src: url('./SCDream6.ttf');
    font-weight: 600;
}
body{
    font-family: 'dream', sans-serif;
}
@font-face {
    font-family: 'dream';
    src: url(./SCDream3.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'dream';
    src: url(./SCDream2.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'cju';
    src: url(./CJU-Light.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'cju';
    src: url(./CJU-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'cju';
    src: url(./CJU-Medium.ttf);
    font-weight: 650;
}

